Repository watarukura/golang_template: changes, and which lefthook commands are due for each by the changed paths.
All: lint, markdownlint, yamllint, actionlint

lefthook.yml:

---
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.go"
      run: golangci-lint run
    markdownlint:
      glob: "*.md"
      run: npm run lint:markdownlint
    yamllint:
      glob: "*.{yml,yaml}"
      run: |
        if type -a yamllint >/dev/null 2>&1; then
          yamllint -- {staged_files}
        else
          echo "yamllint is not found."
        fi
    actionlint:
      root: ".github/workflows/"
      glob: "*.{yml,yaml}"
      run: actionlint
    gitleaks:
      run: |
        if type -a gitleaks >/dev/null 2>&1; then
          gitleaks detect -v
        else
          echo "gitleaks is not found."
        fi
    typos:
      run: |
        if type -a typos >/dev/null 2>&1; then
          typos
        else
          echo "typos is not found."
        fi

setup:
  parallel: false
  commands:
    aqua:
      run: aqua install
    migrate:
      run: sqlx database create && sqlx migrate run

chore: setup
  .env
  .gitignore
  lefthook.yml
  migrations/20220504085546_init.down.sql
  migrations/20220504085546_init.up.sql
Due: yamllint

ci: 🎡 setup ci
  .github/workflows/pull_request.yml
Due: yamllint, actionlint

ci: 🎡 go install golang-migrate
  .github/workflows/pull_request.yml
Due: yamllint, actionlint

fix: 🐛 port missing
  .github/workflows/pull_request.yml
Due: yamllint, actionlint

fix: 🐛 mysql url
  .github/workflows/pull_request.yml
Due: yamllint, actionlint

fix: 🐛 no drop table
  migrations/20220504085546_init.up.sql
Due: none
